// Here you can add other styles
.spinner-loading{
    position: absolute;
    left: 50%;
    top: 0;
}
.container-lg{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin: 0;
    padding-bottom: 100px;
}
.button-form{
    display: flex;
    justify-content: space-between;
    .Next_btn{
        margin-left: auto;
    }
}

.new_employer_form{
    min-height: 250px;
}

._link{
    text-decoration: underline;
    cursor: pointer;
}

.icon-table{
    border-radius: 50%;
    width: 50px;
}